<div class="panel-body">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""> Excellent
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""> Good
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""> Satisfactory
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""> Needs Improvement
                </label>
            </div>
        </li>
        <li class="list-group-item">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value=""> Poor
                </label>
            </div>
        </li>
    </ul>
</div>
<div class="panel-footer text-center">
    <button type="button" class="btn btn-primary btn-block btn-sm">
        Vote
    </button>
</div>
