DATABASE_URL="ENGINE://USER:PASSWORD@HOST:PORT/DATABASE"
.form-container.sign-up-container
            form.frm-sign(action='#')
                h1.title-sign Create Account
                .social-container
                    a.social(href='#')
                        i.fab.fa-facebook-f
                    a.social(href='/login/federated/google')
                        i.fab.fa-google-plus-g
                    a.social(href='#')
                        i.fab.fa-linkedin-in
                span or use your email for registration
                input.ip(type='email' placeholder='Email' required='')
                input.ip(type='password' placeholder='Password' required='')
                button.btn-sign Sign Up