extends ../layout

block content
    - if (msg)
        .alert.alert-danger
            = msg
    #container.container
        .form-container.sign-in-container
            form.form-sign(action='#')
                .title-login-cover 
                    h1.title-login Login only with Google
                        .google-login-btn-cover
                            button.google-login
                                i.fab.fa-google-plus-g
                
    form(action=`/login` method='POST')
        input#login_inp(type='hidden' name='token')
        button#login_btn.d-none(type='submit')
                
    script(defer type='module').
        import * as gAuth from '/javascripts/google-login-gsi.js';
        document.getElementById("login").onclick = async (e)=>{
            e.preventDefault();
            const response = await gAuth.signIn({
                client_id: '914176792303-u3clb1ifv24n369jots7ko0lnmjbrh2g.apps.googleusercontent.com',
                scope: "profile email"
            });

            document.getElementById('login_inp').value = response.access_token;
            document.getElementById('login_btn').click();

            document.getElementById("logout").onclick = async (e)=>{
                e.preventDefault();	            
                await gAuth.signOut();	           
            };
            	        
        };
          
        
        