extends ../layout

block content
    - if (msg)
        .alert.alert-danger
            = msg
    #container.container
        .form-container.sign-in-container
            form.form-sign(action='#')
                .content-all
                    .title-login-cover 
                        h1.title-login Only login with Google
                    .google-login-btn-cover
                        img.logo-img-poll-list(src="https://co-well.vn/wp-content/uploads/2019/08/co-well-asia-logo.jpg", alt="")
                        button#google-login
                            i.fab.fa-google-plus-g
                
    form(action=`/login` method='POST')
        input#login_inp(type='hidden' name='token')
        button#login_btn.d-none(type='submit')
                
    script(defer type='module').
        import * as gAuth from '/javascripts/google-login-gsi.js';
        document.getElementById("google-login").onclick = async (e)=>{
            e.preventDefault();
            const response = await gAuth.signIn({
                client_id: '914176792303-u3clb1ifv24n369jots7ko0lnmjbrh2g.apps.googleusercontent.com',
                scope: "profile email"
            });

            document.getElementById('login_inp').value = response.access_token;
            document.getElementById('login_btn').click();

            document.getElementById("logout").onclick = async (e)=>{
                e.preventDefault();	            
                await gAuth.signOut();	           
            };
            	        
        };
          
        
        