body {
  margin: 40px 0 40px 0;
  padding: 0;
  border: none;
  outline: none;
  /* background-color: #eee; */
  background-color: rgba(69, 114, 107, 0.97)!important;
  box-shadow: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; */
}
::selection{
  color: #fff;
  background: #6665ee;
}
a {
  color: #00B7FF;
  text-decoration: none;
}

main {
  background-color: white;
  padding: 10px 40px 40px 40px;
  display: block;
  text-align: left;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

header {
  text-align: center;
}

h1 {
  font-size: 40px;
 /* color: #002f6c; */
  color: #191516;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

#name, #email, #number, #dropdown,#many-options {
  outline: none;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  border: 0.5px solid #002f6c;
  background-color: white;
  box-sizing: border-box;
}

#dropdown, option {
  outline: none;
}

select {
  padding: 7px;
}

textarea {
  display: block;
}

.form-group {
  padding: 8px 0;
  margin-bottom: 2px;
}

.form-group>label {
  margin-bottom: 8px;
  color: #191516;
  display: block;
}

[type="checkbox"]+label>span, [type="radio"]+label {
  font-size: 16px;
}

[type="checkbox"], [type="radio"] {
  margin: 0 8px 0 0;
  box-sizing: border-box;
  min-width: 18px;
  min-height: 18px;
}

/*hide the original checkbox and radio button*/

[type="checkbox"] , [type="radio"] {
  opacity: 0;
  pointer-events: none;
}


.radio-group, .checkbox-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
}

[type="radio"]+label {
  margin: 0 5px 0 0;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

[type="checkbox"]+label {
  margin: 0 5px 0 0;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

/* this is the custom box for the checkbox*/

[type="checkbox"]+label::before {
  content: '';
  min-width: 18px;
  min-height: 18px;
  position: absolute;
  left: -26px;
  border-radius: 3px;
  /* top: 5px; */
  background-color: #eee;
  transition: all 0.4s;
}

/* custom checkmark made using only css*/

/* 
[type="checkbox"]+label::after {
  content: '';
  min-width: 0px;
  min-height: 0px;
  position: absolute;
  left: -20px;
  top: 2px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background-color:red; 
  transform: rotateZ(40deg);
  transition:  all 0.4s;

}  
*/

/* this will unhide the custom checkmark */

/* [type="checkbox"]:checked +label::after {
  min-width: 5px;
  min-height: 10px;
} */

/* this is the svg for the checkmark */

[type="checkbox"]+label svg {
  position: absolute;
  width: 28px;
  left: -31px;
  top: -5px;
}

/* this is the polyline for the checkmark svg */

[type="checkbox"]+label svg polyline {
  stroke: white;
  stroke-width: 8;
  fill: none;
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  transition: stroke-dashoffset 0.4s;
}

/* change the color of custom checkbox when the original checkbox is in checked state */

[type="checkbox"]:checked+label::before {
  background-color: #191516;
}

/* setting stroke-dashoffset to 0 will reveal the hidden checkmark */

[type="checkbox"]:checked+label svg polyline {
  stroke-dashoffset: 0;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  resize: none;
  padding: 4px;
  font-size: 16px;
}

button {
  display: block;
  background-color: #0ddd5d;;
  border: none;
  font-weight: bold;
  font-size: 26px;
  color: white;
  box-sizing: border-box;
}

#description {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

/* custom circle for radio button*/
[type="radio"]+label::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #eee;
  left: -27px;
  top: -1px;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
}

/* fill circle with inset shadow when it is selected*/
[type="radio"]:checked+label::before {
  box-shadow: inset 0 0 0 6px #191516;
}

#rowAdder {
  margin-left: 0px;
}

@media (max-width: 460px) {
  main {
      max-width: 280px;
  }
  h1 {
      font-size: 32px;
  }
  #description {
      font-size: 15px;
  }
  form {
      font-size: 18px;
  }
  #name, #email, #number, #dropdown, textarea {
      font-size: 15px;
  }
  [type="radio"]+label, [type="checkbox"]+label>span {
      font-size: 15px;
  }
}


/* List form page */
.container {
  background-color: #eee;
  height: 100%;
  width: 100%;
}

.title-poll {
  font-size: 5rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(69, 114, 107, 0.97), 2px 2px 1px rgba(69, 114, 107, 0.97);
  text-align: center;
  letter-spacing: 2px;
}

.poll-list {
  margin: 20px 0px;
  padding: 20px 0px;
}

fieldset{
  display:flex;
  flex-direction:column;
  font-size:19px;
  line-height:1.5em;
  background:#eef;
  border-radius:10px;
  margin-top:15px;
  box-shadow:0px 0px 10px -2px #112;
  border:none;
  flex-wrap:wrap;
  margin: 15px 0px;
}

fieldset legend{
  background:rgb(0, 0, 0);
  padding:0px 20px;
  border: 3px solid rgb(255, 255, 0);
  border-radius:10px;
  color:#fff;
  font-weight:bold;
}

.info{
  flex-direction:row;
  align-items:flex-start;
  justify-content:flex-start;
  margin: 10px;
  background:#ddd;
  border-radius:10px;
  padding:5px 5px 5px 0px;
}
.questions {
  margin: 8px 20px;
} 

.voting {
  display: flex;
  margin-bottom: 6px;
  margin-top: 15px;
}

.cover-ans {
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 6px 2px;
  border: 2px solid #000000;
  transition: all 0.2s ease;
  margin: 16px 16px;
  background: #fff;
}
.answers {
  list-style: hide;
  display: block;
}

.vote-btn {
  margin-right: 450px;
  list-style: none;
  display: block;
  width: 60px;
  height: 30px;
  background: #6cc1d6;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
}

#vote-content {
  font-weight: bold;
  color:rgb(2, 2, 2);
  text-decoration: none;
}

.vote-count {
  display: block;
  width: 30px;
  height: 30px;
  background: #6cc1d6;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  animation: bump 0.3s;
}

.progress {
  margin-top: 15px;
 
}
.progress-bar{
  color: #000000!important;
  font-size: larger;
  font-weight:bold ;
}
.cover-all-img {
  display: flex;
  margin-bottom: 10px;
}
.cover-avatar {
  display: flex;
}
.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cover-btn {
  display: block;
}

#btn-1 {
  width: 200px;
  height: 50px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  float: right;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.modal-btn {
  list-style: none;
  display: flex;
  width: 60px;
  height: 30px;
  background: #6cc1d6;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  margin: 0px 5px;
}
/*SIGN IN*/
.title-sign {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 18px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 16px;
}

a {
	color: #333;
	font-size: 16px;
	text-decoration: none;
	margin: 15px 0;
}

.btn-sign {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	padding: 8px 48px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.btn-sign:active {
	transform: scale(0.95);
}

.btn-sign:focus {
	outline: none;
}

.btn-sign.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.frm-sign {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.ip {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  outline: none;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  border: 0.5px solid #000000;
  box-sizing: border-box;
}


.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: rgba(32,53,50,.97);
	background: -webkit-linear-gradient(to right, rgba(65, 110, 104, 0.97), rgba(32,53,50,.97));
	background: linear-gradient(to right, rgba(55, 102, 95, 0.97), rgba(32,53,50,.97));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

.logo-img {
  width: 120px;
  height: 120px;
  border-radius:50% ;
}

#logout-btn {
  width: 200px;
  height: 50px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  float: left;
}

/* POLL */
/**/