body {
  margin: 40px 0 40px 0;
  padding: 0;
  border: none;
  outline: none;
  /* background-color: #eee; */
  background-color: rgba(69, 114, 107, 0.97)!important;
  box-shadow: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; */
}

a {
  color: #00B7FF;
}

main {
  background-color: white;
  padding: 10px 40px 40px 40px;
  display: block;
  text-align: left;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

header {
  text-align: center;
}

h1 {
  font-size: 40px;
 /* color: #002f6c; */
  color: #191516;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

#name, #email, #number, #dropdown,#many-options {
  outline: none;
  width: 100%;
  padding: 7px;
  font-size: 16px;
  border: 0.5px solid #002f6c;
  background-color: white;
  box-sizing: border-box;
}

#dropdown, option {
  outline: none;
}

select {
  padding: 7px;
}

textarea {
  display: block;
}

.form-group {
  padding: 8px 0;
  margin-bottom: 2px;
}

.form-group>label {
  margin-bottom: 8px;
  color: #191516;
  display: block;
}

[type="checkbox"]+label>span, [type="radio"]+label {
  font-size: 16px;
}

[type="checkbox"], [type="radio"] {
  margin: 0 8px 0 0;
  box-sizing: border-box;
  min-width: 18px;
  min-height: 18px;
}

/*hide the original checkbox and radio button*/

[type="checkbox"] , [type="radio"] {
  opacity: 0;
  pointer-events: none;
}


.radio-group, .checkbox-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
}

[type="radio"]+label {
  margin: 0 5px 0 0;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

[type="checkbox"]+label {
  margin: 0 5px 0 0;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

/* this is the custom box for the checkbox*/

[type="checkbox"]+label::before {
  content: '';
  min-width: 18px;
  min-height: 18px;
  position: absolute;
  left: -26px;
  border-radius: 3px;
  /* top: 5px; */
  background-color: #eee;
  transition: all 0.4s;
}

/* custom checkmark made using only css*/

/* 
[type="checkbox"]+label::after {
  content: '';
  min-width: 0px;
  min-height: 0px;
  position: absolute;
  left: -20px;
  top: 2px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background-color:red; 
  transform: rotateZ(40deg);
  transition:  all 0.4s;

}  
*/

/* this will unhide the custom checkmark */

/* [type="checkbox"]:checked +label::after {
  min-width: 5px;
  min-height: 10px;
} */

/* this is the svg for the checkmark */

[type="checkbox"]+label svg {
  position: absolute;
  width: 28px;
  left: -31px;
  top: -5px;
}

/* this is the polyline for the checkmark svg */

[type="checkbox"]+label svg polyline {
  stroke: white;
  stroke-width: 8;
  fill: none;
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  transition: stroke-dashoffset 0.4s;
}

/* change the color of custom checkbox when the original checkbox is in checked state */

[type="checkbox"]:checked+label::before {
  background-color: #191516;
}

/* setting stroke-dashoffset to 0 will reveal the hidden checkmark */

[type="checkbox"]:checked+label svg polyline {
  stroke-dashoffset: 0;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  height: 200px;
  resize: none;
  padding: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  display: block;
  height: 40px;
  background-color: #0ddd5d;;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
}

#description {
  text-align: center;
  font-style: italic;
  margin-top: -10px;
}

/* custom circle for radio button*/
[type="radio"]+label::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #eee;
  left: -27px;
  top: -1px;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
}

/* fill circle with inset shadow when it is selected*/
[type="radio"]:checked+label::before {
  box-shadow: inset 0 0 0 6px #191516;
}

#rowAdder {
  margin-left: 0px;
}

@media (max-width: 460px) {
  main {
      max-width: 280px;
  }
  h1 {
      font-size: 32px;
  }
  #description {
      font-size: 15px;
  }
  form {
      font-size: 18px;
  }
  #name, #email, #number, #dropdown, textarea {
      font-size: 15px;
  }
  [type="radio"]+label, [type="checkbox"]+label>span {
      font-size: 15px;
  }
}


/* List form page */
.container {
  background-color: #eee;
  height: 100%;
  width: 100%;
}

.title-poll {
  font-size: 5rem;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(69, 114, 107, 0.97), 2px 2px 1px rgba(69, 114, 107, 0.97);
  text-align: center;
  letter-spacing: 2px;
}
.poll-list {
  margin: 20px 0px;
  padding: 20px 0px;
}

fieldset{
  display:flex;
  flex-direction:column;
  font-size:19px;
  line-height:1.5em;
  background:#eef;
  border-radius:10px;
  margin-top:15px;
  box-shadow:0px 0px 10px -2px #112;
  border:none;
  flex-wrap:wrap;
  margin: 15px 0px;
}

fieldset div{
  margin:10px 20px;
}

fieldset legend{
  background:#224;
  padding:0px 20px;
  border:2px solid rgb(185, 185, 62);
  border-radius:10px;
  color:rgb(228, 236, 228);
  font-weight:bold;
}

.info{
  flex-direction:row;
  align-items:flex-start;
  justify-content:flex-start;
  margin: 10px;
  background:#ddd;
  border-radius:10px;
  padding:5px 5px 5px 0px;
}

#btn-1 {
  display: block;
  width: 200px;
  height: 50px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  text-decoration: none;
  float: right;
}

a::-moz-focus-inner {
  border: 0;
}
.voting {
  position: relative;
  width: 5.5rem;
  height: 5.5rem;
  margin: 1rem;
  border-radius: 50%;
  text-decoration: none;
}
.voting > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.bg {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
}
.cancel {
  flex: 1 1 100%;
  margin-top: 2rem;
  text-align: center;
}
.cancel a {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.4;
  transition: background-color 0.1s linear;
}
.cancel a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.cancel a:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.symbol::before, .symbol::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  border-radius: 2px;
  content: "";
}
.symbol::before{
  width: 2rem;
  height: 0.3rem;
  background-color: #515676;
  transition: background-color 1s linear;
}
.plus .symbol::after {
  width: 0.3rem;
  height: 2rem;
  background-color: #515676;
}
.bg::before, .bg::after {
  position: absolute;
  top: -4.75rem;
  left: -4.75rem;
  display: block;
  width: 15rem;
  height: 15rem;
  border: 4px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  transform: scale(0.4);
  opacity: 0;
}
.voting:hover .bg {
  background-color: rgba(255, 255, 255, 0.3)
}
.bg:target {
  animation: push 1s ease-out;
  transition: all 1s linear;
}
#plus:target {
  background-color: #def186;
}
#minus:target {
  background-color: #515676;
}
#minus:target + .symbol::before {
  background-color: #def186;
}
.bg:target::before, .bg:target::after {
  animation: wave 1s ease-in-out;
}
.bg:target::before {
  animation-delay: 0.2s;
}
.bg:target::after {
  animation-delay: 0.3s;
}

@keyframes push {
  15% {transform: scale(0.75); box-shadow: 0 0 1px rgba(0, 0, 0, 0.3)}
  75% {transform: scale(1.1); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)}
  100% {transform: scale(1)}
}

@keyframes wave {
  10% {opacity: 0.3}
  100% {transform: scale(1); opacity: 0}
}

/*
.voting-btn
                      a.voting.plus(href='#plus')
                        span#plus.bg
                        span.symbol
                          i.fa.fa-plus(aria-hidden='true')
                      span.cancel
                        a(href='#') Clear
*/